#section5{
    width: 100%;
    height: 70rem;
    
}

.titreSection5{
    width: 100%;
    height: 5rem;
    text-align: center;
    font-family: cookiCool;
    font-size: xx-large;
    margin-top: 25px;
}
.spanSection5{
    color: #23d3c0;
}

.bigTitreSec5{
    color: #23d3c0;
    font-size: xx-large;
}


.btnSection5{
    width: 100%;
    height: 7rem;
    display: flex;
    justify-content: center;
    align-items: center;
}


.btnCentrauxSection5{
    padding: 15px;
    font-size: larger;
}

.btnCentrauxSection5:hover{
    padding: 15px;
    font-size: larger;
    color: #23d3c0;
    text-decoration: underline;
}

//////////////////////////////////////////// COMMUN //////////////////////////////////////////////////////////////////////////////

.soustitreDivDinner{
    text-align: center;
}

.contenuDivDinnerSection5PartiHaute{
    display: flex;
    justify-content: center;
    text-align: center;
}

.contenuDivDinnerSection5PartiBasse{
    display: flex;
    justify-content: center;
    text-align: center;
}

.photoTitreParaSection5{
    width: 25%;
    height: 25rem;
}

.imgSection5{
    width: 75%;
    height: 15rem;

}
///////////////////////////////////////////////////////DINNER//////////////////////////////////////////////////////////////////

.divDinnerSection5{
    display: none;
}

.divDinner{
    display: block;
}


/////////////////////////////////////////////////////// BREAKFAST      //////////////////////////////////////////////////////////////


.divBreakfastSection5{
    display: none;
}

.divBreakfast{
    display: block;
}

////////////////////////////////////////////////////// LUNCH       ////////////////////////////////////////////////////////////////////

.divLunchSection5{
    display: none;
}

.divLunch{
    display: block;
}

//////////////////////////////////////////////////////// STARTER    //////////////////////////////////////////////////////////////

.divStarterSection5{
    display: none;
}

.divStarter{
    display: block;
}