#section11{
    width: 100%;
    height: 70rem;   
    padding-top: 30px; 
    margin-bottom: 100px;
}

.titreSection11{
    width: 100%;
    height: 10rem;
    text-align: center;
    font-family: cookiCool;
}

.spanSec11{
    color: #23d3c0;
}

.divMapSection11{
    width: 100%;
    height: 20rem;
    text-align: center;
}

.mapSection11{
    width: 70%;
    height: 20rem;
}

.basSection11{
    width: 100%;
    height: 10rem;
    display: flex;
    justify-content: center;
}

.contenuSection11{
    display: flex;
    justify-content: flex-start;
    align-items: center;
    width: 34% !important;
    background-color: #eeeeee;
    margin: 15px;
    padding: 10px;
}

.iconSection11{
    display: flex;
    align-items: center;
    justify-content: center;
    margin-right: 20px;
    height: 2rem;
    width: 35px;
    background-color: #23d3c0;
    border-radius: 90px;

}

.contenuFormSection11{
    width: 100%;
    height: 20rem;
    display: flex;
    justify-content: center;
    align-items: center;
}

.formSection11{
    width: 70%;
    height: 19rem;
    background-color: #eeeeee;
}

.inpFlex{
    display: flex;
    justify-content: center;
}

.inpSection11{
    width: 50%;
    margin: 10px;
}

.inp3Section11{
    width: 98%;
    margin: 10px;
}

.inp4Section11{
    width: 98%;
    height: 5rem;
    margin: 10px;
}

.divBtnSection11{
    width: 100%;
    height: 5rem;
    display: flex;
    justify-content: center;
    align-items: center;
}

.btnSection11{
    width: 20%;
    color: white;
    height: 3rem;
    background-color: #23d3c0;
    border: none;
    border-radius: 90px;
    transition: 0.5s;
}

.btnSection11:hover{
    width: 20%;
    color: white;
    height: 3rem;
    background-color: #d32323;
    border: none;
    border-radius: 90px;
    transition: 0.5s;
}