#navBar {
    width: 100%;
    height: 75px;
    display: flex;

}

.titreMiam {
    width: 15%;

}

.miam{
    margin: 15px;
    text-align: center;
}

.btnCentrauxNavBar {
    display: flex;    
    width: 70%;
    justify-content: center;
}

.btnCentraux{
    margin: 15px;
}

.BtnBookTableNavBar{
    width: 15%;

}

.btnBook{
    margin: 15px;
}
